# Exclude all in config/ dir exept files that starts with "example."
config/*
!config/example.*

# Intellij IDEA
/.idea/
/discord-summarize.iml

# Output dir
/output/

# Discord chat exporter
/discord_chat_exporter/
