# Exclude all in config/ dir exept files that starts with "example."
config/*
!config/example.*

# Intellij IDEA
/.idea/
/newsletter-wizard.iml

# Output dir
/output/

# Discord chat exporter
/discord_chat_exporter/

.env